*{margin: 0; padding: 0; box-sizing: border-box;}
html{
    font-family: 'Roboto', sans-serif;
}



main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
   
      
}
.container{      
    background-color: lightgray;
    max-width: 900px; 
    display: grid;
    grid-template-areas: 
    "main-video propaganda"
    "main-video suggestion";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 20px;
    padding: 35px;
}

.main-video{
    grid-area: main-video;
}

.main-video img{
    margin-bottom: 10px;
    width: 100%;
}
.main-video .information{
  font-size: 18px;
  margin-bottom: 5px;  
}

.main-video .views{
    font-size: 14px;
    margin-bottom: 7px;
}


.propaganda{
    grid-area: propaganda;
}

.suggestion{
    grid-area: suggestion;
}

.suggestion .videos{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.suggestion .videos .title{
    font-size: 14px;
    margin-bottom: 10px;
}

.suggestion .videos p{
  font-size: 11px; 
  margin-bottom: 5px;
}

